@model  List<CodeDemo.Data.Entities.People>
@{
    ViewBag.Title = "ListPeople";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
            </tr>
        }
    </tbody>
</table>

